* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
}

.main {
  display: flex;
  flex-direction: column;
}

.red {
  color: white;
  height: 35vh;
}

.hr-div {
  display: flex;
  justify-content: center;
}

hr {
  width: 85%;
  border-color: #4b4b4b;
}

.buttons-father {
  background-color: #010101;
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.numbers-column {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
}
