* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
}

.result-container {
  display: flex;
  justify-content: end;
  /* align-items: center; */
  margin: 2px;
  color: white;
  height: 35vh;
}

.result {
  /* background-color: red; */
  padding: 8px;
  margin: 30px;
  font-size: 40px;
}

.hr-div {
  display: flex;
  justify-content: center;
}

hr {
  width: 85%;
  border-color: #4b4b4b;
}

.buttons-father {
  background-color: #010101;
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.numbers-column {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
}
